.order {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "title title"
  "timer timer"
  "prod form";
  align-items: center;
  justify-items: center;
  background: linear-gradient( to bottom, rgba(0, 0, 0, .75) 10%, transparent);
}

@media screen and (max-width: 500px) {
  .order {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "timer"
    "prod"
    "form";
  }
}
